.vagrant

# Log files
yarn-debug.log*
yarn-error.log*

# OSX nonsense
**/.DS_Store
**/Thumbs.db

# Yarn
**/.yarn/*
**/.yarn/cache
**/!.yarn/patches
**/!.yarn/releases
**/!.yarn/plugins
**/!.yarn/sdks
**/!.yarn/versions
.pnp.*

# node
node_modules

# typescript
**/tsconfig.tsbuildinfo
